# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/

# Model files (too large for GitHub)
*.pth
*.pt
*.zip
*.tar.gz
*.gz

# Logs
*.log
logs/
*.png

# SUMO outputs
sumo/outputs/
*.xml.bak

# Data
data/raw/
*.csv

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
build/

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
