# Web Framework
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-socketio==5.10.0

# SUMO
traci
sumolib

# Machine Learning
stable-baselines3==2.2.1
gymnasium==0.29.1
torch
tensorboard==2.15.1

# Data Processing
pandas==2.1.3
numpy==1.26.2

# Testing
pytest==7.4.3

# Utils
python-dotenv==1.0.0